<html>
<head>
    <title>Contact List</title>
</head>
<body>
    <h1>Contact List</h1>
        {% if contactList is not empty %}
            <p>Here is your contact list</p>
            <ul>
                {% for contact in contactList %}
                    <p>
                        <li>{{ contact.getName }}</li>
                        <li>{{ contact.getPhone }}</li>
                        <li>{{ contact.getAddress }}</li>
                    </p>
                {% endfor %}
            </ul>
        {% endif %}

    <h2>Add New Contact</h2>

        <form action='/new_contact' method='post'>
        <p>
            <label for='name'>Name</label>
            <input id='name' name='name' type='text'>
        </p>
        <p>
            <label for='phone'>Phone</label>
            <input id='phone' name='phone' type='text'>
        </p>
        <p>
            <label for='address'>Address</label>
            <input id='address' name='address' type='text'>
        </p>
        <p>
            <button type='submit'>Add Contact</button>
        </p>
        </form>

        <form action='/delete_contacts' method='post'>
            <button type='submit'>Clear</button>
        </form>

</body>
</html>
