<html>
<head>
    <title>Contact Added!</title>
</head>
<body>
    <h1>You created a new Contact!</h1>
    <!-- found the cow -->
    <p>{{ cow.getName }}</p>
    <p>{{ cow.getPhone }}</p>
    <p>{{ cow.getAddress }}</p>
    <p><a href='/'>Back to Contact List</a></p>
</body>
</html>
